In [210]:
import pandas as pd
data = pd.read_excel('wrong-apple.xlsx')
data

,Slide,Image,Start Time,End Time,Duration (s),Total Words,Words per Minute (wpm),Captions
0,0,,0:0:0,0:2:29,149.0,163,12.483221,Hi guys welcome to yet another workshop on app...
1,1,,0:2:29,0:3:7,38.0,493,140.526316,"Okay, so let's start off with the session.So ..."
2,2,,0:3:7,0:3:18,11.0,0,0.000000,NaN
3,3,,0:3:18,0:3:45,27.0,578,246.666667,"Okay.So, I like it too. Okay, so my name is D..."
4,4,,0:3:45,0:4:14,29.0,390,126.206897,the main problem statement of today's worksho...
5,5,,0:4:14,0:5:55,101.0,962,108.118812,"Okay. So, moving ahead, let's start this work..."
6,6,,0:5:55,0:6:32,37.0,491,144.324324,"answer is that Steve Jobs, Steve Wozniak and ..."
7,7,,0:6:32,0:6:44,12.0,199,190.000000,that they successfully did it. So for those w...
8,8,,0:6:44,NaN,NaN,0,NaN,NaN
9,9,,NaN,NaN,NaN,0,NaN,NaN
10,10,,NaN,0:11:54,310.0,2412,87.870968,Okay.So moving ahead. Let's see how these peo...
11,11,,0:11:54,0:13:48,114.0,983,95.263158,"iPod 1000 songs in your pocket.Okay. So, okay..."
12,12,,0:13:48,0:13:49,1.0,203,2100.000000,So now that we've talked about the basics of ...
13,13,,0:13:49,0:16:14,145.0,1319,101.379310,"So, okay. So before we move ahead. So, what i..."
14,14,,0:16:14,NaN,NaN,0,NaN,NaN
15,15,,NaN,NaN,NaN,0,NaN,NaN
16,16,,NaN,NaN,NaN,0,NaN,NaN
17,17,,NaN,NaN,NaN,0,NaN,NaN
18,18,,NaN,0:17:15,61.0,934,166.229508,"technology in city, so that it actually compr..."
19,19,,0:17:15,0:22:31,316.0,3829,126.265823,And then it became quite famous with differen...
20,20,,0:22:31,0:25:15,164.0,2468,159.878049,We can say that invoice identification we tak...
21,21,,0:25:15,0:25:30,15.0,217,136.000000,"Let's see what are the factors, and what is t..."
22,22,,0:25:30,0:26:2,32.0,564,202.500000,Let's see what happens in the back end of voi...
23,23,,0:26:2,0:26:32,30.0,430,158.000000,"And the second one is pitch. So, which is lar..."
24,24,,0:26:32,0:27:10,38.0,528,156.315789,"Okay, so now my question to you guys is since..."
25,25,,0:27:10,0:32:43,333.0,3976,132.072072,"Okay.So, okay, moving ahead, how do we actual..."
26,26,,0:32:43,0:34:40,117.0,1318,130.256410,"If you see here.XMY, and I take a new sample,..."
27,27,,0:34:40,0:36:23,103.0,1215,131.067961,So all these operations can successfully be d...
28,28,,0:36:23,0:36:37,14.0,100,72.857143,"But, corresponding to that. So how do you thi..."
29,29,,0:36:37,0:37:29,52.0,934,192.692308,CD understands what we're seeing with context...
30,30,,0:37:29,0:37:42,13.0,88,73.846154,"And that's how Siri understands. Okay, so thi..."
31,31,,0:37:42,0:38:32,50.0,754,174.000000,So what did we learn about any new that it ad...
32,32,,0:38:32,0:38:34,2.0,0,0.000000,NaN
33,33,,0:38:34,0:39:1,27.0,328,133.333333,"Okay, so.All right, moving on, let's have ano..."
34,34,,0:39:1,0:39:51,50.0,674,142.800000,generated. So for that we use natural languag...
35,35,,0:39:51,0:40:20,29.0,539,242.068966,We are generating response corresponding to t...
36,36,,0:40:20,0:40:34,14.0,0,0.000000,NaN
37,37,,0:40:34,0:45:8,274.0,3758,157.883212,"Alright, another example. So if you pass this..."
38,38,,0:45:8,0:59:57,889.0,10804,133.498313,"So, this is a very interesting video and I ho..."
39,39,,0:59:57,NaN,NaN,0,NaN,NaN
40,40,,NaN,NaN,NaN,0,NaN,NaN
41,41,,NaN,NaN,NaN,0,NaN,NaN
42,42,,NaN,NaN,NaN,0,NaN,NaN
43,43,,NaN,NaN,NaN,0,NaN,NaN
44,44,,NaN,NaN,NaN,0,NaN,NaN
45,45,,NaN,NaN,NaN,0,NaN,NaN
46,46,,NaN,1:4:39,282.0,3602,144.468085,"Okay.Okay, so let's move on with their code i..."
47,47,,1:0:2,1:13:20,798.0,6385,87.744361,Make sure you fill the link. Sorry form. If y...
48,48,,1:4:39,1:15:20,641.0,278,5.241810,"Yes, for girl okay okay.I share videos with y..."

In [211]:
data['Start Time'] = pd.to_datetime(data['Start Time'], format="%H:%M:%S")
data['End Time'] = pd.to_datetime(data['End Time'], format="%H:%M:%S")
from datetime import datetime
start_time = data['Start Time'].values
end_time = data['End Time'].values

In [212]:
import numpy as np
from datetime import timedelta

In [213]:
def _get_middle_values(start, end, n):
    diff = end - start
    req_diff = diff / (n+1)
    times = []
    for i in range(n):
        times.append(start + req_diff*(i+1))
    return times

In [217]:
_get_middle_values(start_time[8],start_time[11],2)

[numpy.datetime64('1900-01-01T00:08:27.333333333'),
 numpy.datetime64('1900-01-01T00:10:10.666666666')]

In [218]:
def _fill(series):
    gap_found = False
    start_i, end_i = None, None
    for i in range(len(series)):
        if not np.isnat(series[i]) :
            if gap_found == True:
                end_i = i
                values = _get_middle_values(series[start_i], series[end_i], (end_i-start_i-1))
                for temp_i, value in zip(range(start_i+1,end_i), values):
                    series[temp_i] = value
                print(series[start_i:end_i])
                gap_found = False
            else:
                continue
        else:
            if gap_found == False:
                gap_found = True
                start_i = i-1

In [219]:
_fill(start_time)

gap_found
8   11
['1900-01-01T00:06:44.000000000' '1900-01-01T00:08:27.333333333'
 '1900-01-01T00:10:10.666666666']
gap_found
14   19
['1900-01-01T00:16:14.000000000' '1900-01-01T00:16:26.200000000'
 '1900-01-01T00:16:38.400000000' '1900-01-01T00:16:50.600000000'
 '1900-01-01T00:17:02.800000000']
gap_found
39   47
['1900-01-01T00:59:57.000000000' '1900-01-01T00:59:57.625000000'
 '1900-01-01T00:59:58.250000000' '1900-01-01T00:59:58.875000000'
 '1900-01-01T00:59:59.500000000' '1900-01-01T01:00:00.125000000'
 '1900-01-01T01:00:00.750000000' '1900-01-01T01:00:01.375000000']

In [220]:
start_time

array(['1900-01-01T00:00:00.000000000', '1900-01-01T00:02:29.000000000',
       '1900-01-01T00:03:07.000000000', '1900-01-01T00:03:18.000000000',
       '1900-01-01T00:03:45.000000000', '1900-01-01T00:04:14.000000000',
       '1900-01-01T00:05:55.000000000', '1900-01-01T00:06:32.000000000',
       '1900-01-01T00:06:44.000000000', '1900-01-01T00:08:27.333333333',
       '1900-01-01T00:10:10.666666666', '1900-01-01T00:11:54.000000000',
       '1900-01-01T00:13:48.000000000', '1900-01-01T00:13:49.000000000',
       '1900-01-01T00:16:14.000000000', '1900-01-01T00:16:26.200000000',
       '1900-01-01T00:16:38.400000000', '1900-01-01T00:16:50.600000000',
       '1900-01-01T00:17:02.800000000', '1900-01-01T00:17:15.000000000',
       '1900-01-01T00:22:31.000000000', '1900-01-01T00:25:15.000000000',
       '1900-01-01T00:25:30.000000000', '1900-01-01T00:26:02.000000000',
       '1900-01-01T00:26:32.000000000', '1900-01-01T00:27:10.000000000',
       '1900-01-01T00:32:43.000000000', '1900-01-01T00:34:40.000000000',
       '1900-01-01T00:36:23.000000000', '1900-01-01T00:36:37.000000000',
       '1900-01-01T00:37:29.000000000', '1900-01-01T00:37:42.000000000',
       '1900-01-01T00:38:32.000000000', '1900-01-01T00:38:34.000000000',
       '1900-01-01T00:39:01.000000000', '1900-01-01T00:39:51.000000000',
       '1900-01-01T00:40:20.000000000', '1900-01-01T00:40:34.000000000',
       '1900-01-01T00:45:08.000000000', '1900-01-01T00:59:57.000000000',
       '1900-01-01T00:59:57.625000000', '1900-01-01T00:59:58.250000000',
       '1900-01-01T00:59:58.875000000', '1900-01-01T00:59:59.500000000',
       '1900-01-01T01:00:00.125000000', '1900-01-01T01:00:00.750000000',
       '1900-01-01T01:00:01.375000000', '1900-01-01T01:00:02.000000000',
       '1900-01-01T01:04:39.000000000'], dtype='datetime64[ns]')